{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
</head>
<body>
    <div class = "box-area">
        <header>
            <div class="wrapper">
                <div class="logo">
                    <a href="#">FashLook</a>
                </div>
                <nav>
                    <ul>
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">Гардероб</a>
                            <ul>
                                <li><a href="#">Одежда</a></li>
                                <li><a href="#">Образы</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Модные показы</a></li>
                        <li> <a href="#">Подписки</a></li>
                        <li><a href="{% url 'profile' %}">Профиль</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
