{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'Q&A.css' %}">
</head>
<body>
    <h1>Помощь и поддержка</h1>

    <h3>Часто задаваемые вопросы</h3>

    <h4>Как мне создать учетную запись?</h4>
    <p>A: Чтобы создать учетную запись на нашем сайте, перейдите на страницу регистрации и заполните необходимые данные, такие как имя пользователя, электронная почта, пароль, имя и фамилия.</p>

    <h4>Что делать, если я забыл пароль от своей учетной записи?</h4>
    <p>A: На странице входа есть ссылка "Забыли пароль?", нажмите на нее и следуйте инструкциям для сброса пароля.</p>

    <h4>Как поменять свои данные?</h4>
    <p>A: На странице профиль есть кнопка "Изменить данные", нажмите на нее и измените пункты по надобности.</p>

    <h4>Как я могу связаться с поддержкой сайта?</h4>
    <p>A: Чтобы связаться с нашей командой поддержки, перейдите на главную страницу и внизу найдите раздел "Связаться с нами". Я постараюсь ответить вам как можно скорее.</p>

    <h4>Как я могу найти образы своих друзей?</h4>
    <p>A: На странице "Подписки" вы можете найти своих друзей по их логину и подписаться на них, все выложенные ими образы будут обновляться автоматически.</p>
</body>
</html>
{% endblock %}
