{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'termsUse.css' %}">
</head>
<body>
    <h1>Добро пожаловать на страницу с правилами использования сайта!</h1>
    <p style="font-size: 30px; text-align: center;">Здесь вы найдете полезную информацию о функциях нашего сайта. Если у вас возникли какие-либо трудности или вопросы, не стесняйтесь обратиться. Мы готовы помочь вам получить наилучший опыт использования нашего сайта.</p>

    <h2>1. Как просматривать новости</h2>
    <p>На нашем сайте вы можете быть в курсе последних новостей из мира моды и стиля. Чтобы просмотреть новости, перейдите на главную страницу и найдите раздел "Новости". Там вы увидите список статей и новостных материалов, которые можно просмотреть и прочитать для получения актуальной информации о трендах и событиях в мире моды.</p>

    <h2>2. Добавление элементов гардероба</h2>
    <p>Хотите создать свой уникальный гардероб? Наш сайт предоставляет возможность добавлять элементы одежды в ваш личный гардероб. Чтобы добавить элемент гардероба, выполните следующие шаги:</p>
    <ol>
        <li>Войдите в свою учетную запись или зарегистрируйтесь, если у вас еще нет аккаунта.</li>
        <li>Перейдите на страницу "Гардероб", далее на страницу "Одежда" и найдите кнопку "Добавить элемент гардероба".</li>
        <li>Загрузите фотографию элемента гардероба и заполните соответствующую информацию.</li>
        <li>После нажатия на кнопку сохраниться ваш элемент одежды будет доступен вам.</li>
    </ol>

    <h2>3. Составление образов из элементов гардероба</h2>
    <p>Один из ключевых функциональных возможностей нашего сайта - составление образов из элементов гардероба. Чтобы создать образ, следуйте инструкциям ниже:</p>
    <ol>
        <li>Перейдите на страницу "Гардероб", далее на страницу "Образы", найдите кнопку "Создать образ", введите название образа и выберите несколько элементов гардероба, которые вы хотите объединить в образ.</li>
        <li>Нажмите на кнопку "Сохранить образ".</li>
        <li>Сохраните образ и он будет доступен для просмотра и использования на вашей учетной записи.</li>
    </ol>

    <h2>4. Публикация своих образов</h2>
    <p>На нашем сайте вы можете делиться образами с другими пользователями. Чтобы загрузить свой образ, выполните следующие действия:</p>
    <ol>
        <li>Войдите в свою учетную запись или зарегистрируйтесь, если у вас еще нет аккаунта.</li>
        <li>Найдите раздел "Образы" и выберете образ, который хотите опубликовать.</li>
        <li>Добавьте описание к вашему образу и нажмите на кнопку "Опубликовать". Теперь он будет доступен для пользователей, которые на вас подписаны.</li>
    </ol>

    <h2>5. Просмотр образов других пользователей</h2>
    <p>Хотите найти вдохновение в стилях других пользователей? На нашем сайте вы можете просматривать образы, загруженные другими пользователями. Чтобы просмотреть образы других пользователей, выполните следующие действия:</p>
    <ol>
        <li>Перейдите на страницу "Подписки".</li>
        <li>Используйте фильтры и категории, чтобы уточнить результаты поиска.</li>
        <li>После подписки на другого пользователя, вам автоматически будут доступны все образы, выложенные этим пользователем. Вы также можете поставить лайк и прокомментировать образ.</li>
    </ol>

    <h2>6. Связаться с нами</h2>
    <p>Если у вас возникли дополнительные вопросы или вам нужна помощь, пожалуйста, свяжитесь с нами через следующие каналы:</p>
    <ul>
        <li>Электронная почта: karihairullina@gmail.com</li>
    </ul>

    <p style="font-size: 30px; text-align: center;">Мы всегда готовы помочь вам и ответить на все ваши вопросы!</p>
</body>
</html>
{% endblock %}
