body {
  margin: 0;
  overflow: hidden;
}

.form {
  position: absolute;
  width: 45%;
  height: 100%;
  background: black;
  right: 0;
  top: 0;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 55%;
  height: 100%;
}

.form h1 {
  position: absolute;
  left: 32%;
  top: 10%;
  font-weight: normal;
  font-size: 40px;
  color: white;
}

.input-form input {
  padding: 15px;
  width: 250px;
  height: 15px;
  background-color: white;
}

.input-form1 {
  text-align: center;
  margin-top: 200px;
}

.input-form2 {
  text-align: center;
  margin-top: 40px;
}

.input-form3 {
  text-align: center;
  margin-top: 40px;
}

.input-form4 {
  text-align: center;
  margin-top: 40px;
}

.input-form5 {
  text-align: center;
  margin-top: 40px;
}

.input-form input[type="text"]::placeholder,
.input-form input[type="email"]::placeholder,
.input-form input[type="text"]::placeholder,
.input-form input[type="text"]::placeholder,
.input-form input[type="password"]::placeholder {
  text-align: left;
  color: black;
  font-size: 14px;
}

.form-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  padding: 10px;
  width: 285px;
  height: 30px;
  background-color: black;
  border: none;
  font-size: 20px;
  font-weight: normal;
  color: white;
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-buttons button {
  padding: 30px;
  width: 285px;
  height: 30px;
  background-color: white;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}